@font-face {
    font-family: "mont";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "mont_b";
    src: url(../fonts/Montserrat-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "mont";
    background-color: #1c0f13;
}
